/*
Based on http://net.tutsplus.com/tutorials/html-css-techniques/how-to-build-a-kick-butt-css3-mega-drop-down-menu/
*/
#mega-menu {	margin: 0;	padding: 0;}
#mega-menu li {
	float:left;
	display:block;
	text-align:center;
	position:relative;
 	padding-top: 5px;
 	margin-right:8px;
 	border:none;
}
#mega-menu li.hover{ z-index: 10;}
#mega-menu li a { display:block; }

.dropdown_1column, 
.dropdown_2columns, 
.dropdown_3columns, 
.dropdown_4columns,
.dropdown_5columns,
.dropdown_6columns {
	margin:4px auto;
	float:left;
	position:absolute;
	left:-999em; /* Hides the drop down */
	text-align:left;
	padding:10px 5px 10px 5px;
	border:1px solid #ccc;
	background:#F4F4F4;
	/* Rounded Corners */
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

.dropdown_1column {width: 140px;}
.dropdown_2columns {width: 280px;}
.dropdown_3columns {width: 420px;}
.dropdown_4columns {width: 560px;} 
.dropdown_5columns {width: 700px;}
.dropdown_6columns {width: 840px;}

#mega-menu li.hover .dropdown_1column, 
#mega-menu li.hover .dropdown_2columns, 
#mega-menu li.hover .dropdown_3columns,
#mega-menu li.hover .dropdown_4columns,
#mega-menu li.hover .dropdown_5columns,
#mega-menu li.hover .dropdown_6columns {
	left: 0; 
	top:auto;
}

.col_1,
.col_2,
.col_3,
.col_4,
.col_5,
.col_6 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
}
.col_1 {width:130px;}
.col_2 {width:270px;}
.col_3 {width:410px;}
.col_4 {width:550px;} 
.col_5 {width:690px;}
.col_6 {width:830px;}

#mega-menu .mega-menu_right {
	float:right;
	margin-right:0px;
}
#mega-menu li .align_right {
	/* Rounded Corners */
	-moz-border-radius: 5px 0px 5px 5px;
    -webkit-border-radius: 5px 0px 5px 5px;
    border-radius: 5px 0px 5px 5px;
}
#mega-menu li.hover .align_right {
	left:auto;
	right:-1px;
	top:auto;
}
#mega-menu p, #mega-menu h2, #mega-menu h3, #mega-menu ul li {
	color: #333333;
	line-height:21px;
	font-size:12px;
	text-align:left;
	text-shadow: 1px 1px 1px #FFFFFF;
}
#mega-menu h2 {
	font-size:21px;
	font-weight:400;
	letter-spacing:-1px;
	margin:7px 0 14px 0;
	padding-bottom:14px;
	border-bottom:1px solid #666666;
}
#mega-menu h3 {
	font-size:14px;
	margin:7px 0 14px 0;
	padding-bottom:7px;
	border-bottom:1px solid #888888;
}
#mega-menu p {
	line-height:18px;
	margin:0 0 10px 0;
}
#mega-menu li.hover div a {
	font-size:12px;
	color: #333333;
}
#mega-menu li.hover div a:hover {
	color: #790101;
}

.strong {font-weight:bold;}
.italic {font-style:italic;}
.root{font-weight:bold;color: #790101;}

.imgshadow { /* Better style on light background */
	background:#FFFFFF;
	padding:4px;
	border:1px solid #777777;
	margin-top:5px;
	-moz-box-shadow:0px 0px 5px #666666;
	-webkit-box-shadow:0px 0px 5px #666666;
	box-shadow:0px 0px 5px #666666;
}
.img_left { /* Image sticks to the left */
	width:auto;
	float:left;
	margin:5px 15px 5px 5px;
}

#mega-menu li .black_box {
	background-color:#333333;
	color: #eeeeee;
	text-shadow: 1px 1px 1px #000;
	padding:4px 6px 4px 6px;

	/* Rounded Corners */
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

	/* Shadow */
	-webkit-box-shadow:inset 0 0 3px #000000;
	-moz-box-shadow:inset 0 0 3px #000000;
	box-shadow:inset 0 0 3px #000000;
}

#mega-menu li ul {
	list-style:none;
	padding:0;
	padding-left: 5px;
	margin:0 0 12px 0; 
}
#mega-menu li ul li {
	font-size:12px;
	line-height:24px;
	position:relative;
	text-shadow: 1px 1px 1px #ffffff;
	padding:0;
	margin:0;
	float:none;
	text-align:left;
}
#mega-menu li ul li.hover {
	background:none;
	border:none;
	padding:0;
	margin:0;
}

#mega-menu li .greybox li {
	background:#F4F4F4;
	border:1px solid #bbbbbb;
	margin:0px 0px 4px 0px;
	padding:4px 6px 4px 6px;
	width:116px;

	/* Rounded Corners */
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
#mega-menu li .greybox li.hover {
	background:#ffffff;
	border:1px solid #aaaaaa;
	padding:4px 6px 4px 6px;
	margin:0px 0px 4px 0px;
}
